* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.panels {
  width: 99.5vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .25rem auto;
  border-radius: 1rem;
  overflow: hidden;
}

.panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: stretch;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.719);
  /* margin: 0 0.1rem; */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex-grow 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    box-shadow 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background-image 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}
.panel p {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 6px black;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}
/* .panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open.show-text > *:first-child{
  transform: translateY(0);
}
.panel.open.show-text > *:last-child{
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
} */

.panel > *:first-child {
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}
.panel > *:last-child {
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

/* IMPORTANT: tie it to panel.show-text */
.panel.show-text > *:first-child,
.panel.show-text > *:last-child {
  transform: translateY(0);
}


.open {
  flex-grow: 5;
  font-size: 3rem;
  box-shadow: inset 0px 0px 0px 0px black;
}

.panel1 { 
  background-image:url(required_images/winter-wallpaper.jpg);
}
.panel2 { background-image:url(required_images/aurora-wallpaper.jpg); }
.panel3 { background-image:url(required_images/mountains-wallpaper.jpg); }
.panel4 { background-image:url(required_images/forest-wallpaper.jpg); }
.panel5 { background-image:url(required_images/grasslands-wallpaper.jpg); }