* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #2c5364, #203a43, #0f2027);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#kit-container {
  width: 50vw;
  margin: 5rem auto;
  text-align: center;
}

#heading {
  font-size: 5rem;
  font-weight: 600;
  /* margin: 0 auto; */
  color: white;
}

.all-keys {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
  margin-top: 3rem;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  color: white;
  background: linear-gradient(145deg, rgba(20, 40, 50, 0.9), rgba(10, 20, 30, 0.8));

  outline: 1.2px solid rgba(255, 255, 255, 0.438);
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  transition: all .07s ease;
}
.key kbd {
  font-size: 3.75rem;
  font-weight: 600;
}
.key span {
  font-size: 1.5rem;
  opacity: 0.7;
}
.playing {
  background: linear-gradient(145deg, #00c6ff, #0072ff);
  color: white;
  outline: 1.2px solid  rgba(20, 40, 50, 0.5);
  transform: scale(1.05);
}


@media (max-width:767px) {
  #kit-container {
    width: 80vw;
  }
  #heading {
    font-size: 3rem;
    text-align: center;
  }
  .all-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
  margin-top: 3rem;
}
.key {
  width: 3.5rem;
  height: 3.5rem;
  justify-items: center;
}
.key kbd {
  font-size: 2.5rem;
  font-weight: 600;
}
.key span {
  font-size: 0.75rem;
  opacity: 0.7;
}
}